
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


html {
  }
  body::-webkit-scrollbar {
    /* width: 11px; */
  }
  /* body {
    scrollbar-width: thin;
    scrollbar-color: gray;
  }
  body::-webkit-scrollbar-track {
    background: lightgray;
  }
  body::-webkit-scrollbar-thumb {
    background-color: gray ;
  } */



/* =========== START NAVBAR =========== */
#navbar .navbar_search .form-control{
border-color: rgba(0,   0,  0, 0.5) !important;
}

#navbar .navbar_search{
    position: relative;
}

#navbar .nav_search{
    position: absolute;
    top:0;
    right: 0;
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    background-color: transparent;
}

#secondNavbar{

}

#secondNavbar .nav-item .nav-link{
    color: #000;
    font-size: 0.8rem;
    font-weight: 700 !important;
    white-space: nowrap;
}

#secondNavbar .nav-item .nav-link img{
    display: block;
    width: 35px;
    margin: 0 auto 5px;
    
}



/* .navbarTwo{
    overflow-x: scroll;
    scrollbar-color:red yellow;
    scrollbar-track-color: teal;
} */


/* #secondNavbar .navbar::-webkit-scrollbar-thumb{
    height: 7px;
    background-color:#fff !important;
} */


#scrollNavbar::-webkit-scrollbar{
    height: 5px;
}

#scrollNavbar::-webkit-scrollbar-thumb{
background-color: #fff;
}

#scrollNavbar::-webkit-scrollbar-track{
    background-color: #fff;
}


/* =========== END NAVBAR =========== */


/* Curousel */
#restaurantCarousel{

}

#restaurantCarousel .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}

#restaurantCarousel .carousel-indicators li.active{
    background-color: #fff;
}